.foto-perfil {
	height: 100%;
	width: auto;
	max-width: 100%;
	border-radius: 50%;
}
.corPrimaria{
	background-color:  #CB534F ;
}
.fundo{
	background-color: #5786d3 ;
}
.corSecundaria{
	background-color: whitesmoke;
}
.corNav{
	background-color: #BF0000;
}
p{ 
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Courier, monospace, 'Arial Narrow', Arial, sans-serif;
	color: #2B3B51 !important;
}
.icones{
	padding-left: 5px;
	color: whitesmoke;
}
.titulosBrancos{
	text-decoration: underline;
	text-underline-position: below;
	padding-bottom: 20px;
	text-transform: uppercase;
	font-weight: 700;
	color: whitesmoke;
}
.titulosAzul{
	text-decoration: underline;
	text-underline-position: below;
	padding-bottom: 20px;
	text-transform: uppercase;
	font-weight: 700;
	color: #830D04  !important;
}
.textoBranco{
	color: whitesmoke !important;
}
.textoPreto{
	color: #000000 !important;
}
html{
	scroll-behavior: smooth;
}
@media (max-width: 1280px)
{
	.dropJogos
   {
    display: none;
   }
}
nav li a:hover{
	background-color: #830D04;
	border-radius: 15px;
	padding: 5px;
}
.drop{
	position: absolute;
	background-color:#830D04;
	display: none;
	width: 180px;
	left: 90%;
	top: 49px;
	border-radius: 5px;
	padding: 15px;
	font-weight: 10px;
}

.drop a{
    display: block;
}

.dropJogos:hover .drop{
	display: block;
}
div a{
	text-decoration: none;
}
--------------------------Cobrinha-----------------------------
.fundoCobrinh4{
		background-image: url("imagens/fundocobrinha.png");
}

#cobra{
	position: fixed;
	left: 40%;
	top: 180px;
}
.bg{background-image: url(imagens/fundo.png); background-repeat:no-repeat; background-size: cover; background-position: center; background-attachment: fixed;
}
		
.fd{font-size: 25px;
}

.direita{float: right;
}

#borda{
	border-radius: 10px;
}

div.box {
	width: 150px;
	display: inline-block;
}
div.box2 {
	margin-top: 40px;
	width: 160px;
	display: inline-block;
}
#instrucao{
	position: relative;
	right: 25%;
	top: 0px;
}
#controle{
	position: relative;
	top: 100px;
	left: 15%;
}