.foto-perfil {
	height: 100%;
	width: auto;
	max-width: 100%;
	border-radius: 50%;
}
.corPrimaria{
	background-color:  #556168 ;
}
.fundo{
	background-color: #556168 ;
}
.corSecundaria{
	background-color: whitesmoke;
}
.corNav{
	background-color: #000000;
}
p{ 
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Courier, monospace, 'Arial Narrow', Arial, sans-serif;
	color: #556168 !important;
}
.icones{
	padding-left: 5px;
	color: whitesmoke;
}
.titulosBrancos{
	text-decoration: underline;
	text-underline-position: below;
	padding-bottom: 20px;
	text-transform: uppercase;
	font-weight: 700;
	color: whitesmoke;
}
.titulosAzul{
	text-decoration: underline;
	text-underline-position: below;
	padding-bottom: 20px;
	text-transform: uppercase;
	font-weight: 700;
	color: #556168 !important;
}
.textoBranco{
	color: whitesmoke !important;
	text-align: justify;
}
.textoPreto{
	color: #000000 !important;
	text-align: justify;
}
html{
	scroll-behavior: smooth;
}
@media (max-width: 1280px)
{
	.dropJogos
   {
    display: none;
   }
}
nav li a:hover{
	background-color: #556168;
	border-radius: 15px;
	padding: 5px;
}
.drop{
	position: absolute;
	background-color:#556168;
	display: none;
	width: 180px;
	left: 90%;
	top: 49px;
	border-radius: 5px;
	padding: 15px;
	font-weight: 10px;
}

.drop a{
    display: block;
}

.dropJogos:hover .drop{
	display: block;
}
div a{
	text-decoration: none;
}

.btnLink {
    color: #556168; /* Cor da fonte inicial */
    border: 2px solid #556168; /* Cor da borda inicial */
    background-color: transparent; /* Fundo transparente */
    padding: 5px 10px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
    font-size: 16px; /* Tamanho da fonte */
    text-align: center; /* Centralizar texto */
    text-decoration: none; /* Remover sublinhado (se for um link) */
    transition: all 0.3s ease; /* Animação suave para o hover */
    cursor: pointer; /* Mostrar cursor de ponteiro */
}

.btnLink:hover {
    background-color: #556168; /* Cor de fundo ao passar o mouse */
    color: #FFFFFF; /* Cor do texto ao passar o mouse */
    border-color: #556168; /* Cor da borda ao passar o mouse */
}
--------------------------Cobrinha-----------------------------
.fundoCobrinh4{
		background-image: url("imagens/fundocobrinha.png");
}

#cobra{
	position: fixed;
	left: 40%;
	top: 180px;
}
.bg{background-image: url(imagens/fundo.png); background-repeat:no-repeat; background-size: cover; background-position: center; background-attachment: fixed;
}
		
.fd{font-size: 25px;
}

.direita{float: right;
}

#borda{
	border-radius: 10px;
}

div.box {
	width: 150px;
	display: inline-block;
}
div.box2 {
	margin-top: 40px;
	width: 160px;
	display: inline-block;
}
#instrucao{
	position: relative;
	right: 25%;
	top: 0px;
}
#controle{
	position: relative;
	top: 100px;
	left: 15%;
}